[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YuliyaTestProject
[access "refs/for/refs/*"]
	read = group user/YuliyaTestProject
	push = group user/YuliyaTestProject
	label-Code-Review = -2..+2 group user/YuliyaTestProject
	label-Verified = -1..+1 group user/YuliyaTestProject
	rebase = group user/YuliyaTestProject
	removeReviewer = group user/YuliyaTestProject
	submit = group user/YuliyaTestProject
[access "refs/heads/*"]
	read = group user/YuliyaTestProject
	create = group user/YuliyaTestProject
	push = +force group user/YuliyaTestProject
	pushMerge = group user/YuliyaTestProject
[access "refs/tags/*"]
	push = group user/YuliyaTestProject
	push = +force group user/YuliyaTestProject
